{% load staticfiles %}
{% load bootstrap3 %}
<html>
    <head>
        <title>Beat Salon</title>
        <meta charset = "utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/collected_css.css' %}"/>
        <!-- libraries -->
        <script src="{% static 'libraries/p5.js' %} " type="text/javascript"></script>
        <script src="{% static 'libraries/p5.dom.js' %}" type="text/javascript"></script>
        <script src="{% static 'libraries/p5.sound.js' %}" type="text/javascript"></script>
       <!-- jquery -->
       <script src = "https://code.jquery.com/jquery-2.1.3.min.js"></script>
       <!-- Youtube api -->
       <script src = "{% static 'js/app.js' %}"></script>
       <script src = "https://apis.google.com/js/client.js?onload=init" ></script>
<!--
<script type = "text/javascript">
$("#img_song").animateText([
  {
    offset: 0,
    duration: 1000
  }
  ]);
</script>-->
      <!-- start_merge with hyerin -->
      <script src="{% static 'js/classie.js' %}" type="text/javascript"></script>
     <script src="{% static 'js/modernizr.custom.js' %}"></script>
     <!--ajax-->
     <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!--do not touch-->

    <style type='text/css'>
      body {padding: 0; margin: 0;}
      div.buttonclass{bottom:30px;width:100%;text-align: center;}
      div.buttonclass div.innerbuttonclass{position: relative;width:1000px;text-align: center; left:12.5%;}
      div.buttonclass div.onlybutton{position:absolute;z-index: 400;left:10px;}
      div.buttonclass div.onlybutton div{display: inline-block;margin-right: 10px;}
      div.buttonclass div.onlybutton div:last-child{margin-right: 0;}
      div.buttonclass div.onlyimg{top:0; z-index: 0;}
      div.buttonclass div.onlyimg img{display: inline-block;margin-right: 10px;}
      div.buttonclass div.onlyimg img:last-child{margin-right: 0px;}
      canvas{z-index: -100;}
    </style>


  </head>
  <body>


  <!-- <div class="close_tab" id="close_tab"></div> -->
  <div id="upup">


    <!-- <div class="close_tab" id="close_tab"></div> -->

  <div class="up_index">
  <script>
  $(document).ready(function(){

      var start_display = '<div id = "start_display">'+'<div id ="main_title1" >welcome to the</div>'+ '<div id="main_title2">BEAT SALON<sub>&#9400;</sub></div>'+'<div><a href="#" id="salon_start"><span>enter</span></a></div></div>';
      console.log("window loaded")
/*
      $('body').append(start_display);
      $('body').on('click', '#start_display', function(){
      $('#start_display').hide();
      });
*/
      $('body').append(start_display);
      $('#salon_start').click(function(){
        $('#start_display').hide();
      });
  });
</script>

<!--comment modal-->
  <div id="myModal1" class="modal1" style="display:none">
  <div class="modal-content1">
    <img class="close1" src={% static 'blog/X.png' %} >
    <div class="container">
      <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#sendcomment" id="comment1" style="color:grey; margin:3px;">한줄 코멘트</a>
        </li>
         <li>
            <a data-toggle="tab" href="#allcomments" style="color:grey;margin:3px;">모든 코멘트</a>
          </li>
      </ul>
    </div>

    <div class="tab-content">
        <div id="sendcomment" class="tab-pane fade in active"><br>
            <form action="" method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              <button type="submit" class="add_comment btn btn-default">댓글달기</button>
            </form>
        </div>
        <div id="allcomments" class="tab-pane fade">
        <br>
        {% for comment in comments %}
        <div class="row">
          <div class="container-fluid">
            <div class="thumbnail">
              <div class="caption">
              <p id="cmt_content">{{comment.message}}</p>
                <p class="element" id="cmt_title"> - by {{comment.author}} 님</p>
                {{ comment.created_at |date:"Y/m/d, g:i a" }}
              </div>
            </div>
          </div>
        </div>
       {% endfor %}
        </div>
        <div id = "result"></div>
    </div>
  </div>
</div>

<script>
$('.add_comment').on('click', function(e) {
if ($('.form-control').val() == ''){
    return
}
$.ajax({
    url: $(location).attr('href'),
    type: 'POST',
    data: {
        'message': $('#id_message').val(),
        'author' : $("#id_author").val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
        'formtype': 'comment-add',
    },
    success: function(data) {
        if (data){
            $('.form-control').val('')
            $('#allcomments').html(data)
        }
        else{
            console.error('No data');
        }
    },
    error: function(xhr,errmsg,err) {
        $('#results').html('<div class="alert alert-danger">에러가 발생했습니다 : '+errmsg+'('+xhr.status+')'+'<a href="javascript:void(0)" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>')
    },
    complete: function() {
        $.getScript(edit(), function() {})
    }
})
})
</script>

<!--playlist-->
    <div class="container-fluid">
      <div class='inner-container-fluid'>
        <div class="playlist">
            <img src="{% static 'blog/<.png' %}" id="slideleft" alt="" height="20px" class="playlistarrow">
        </div>
            <img id="myBtn" src="{% static 'blog/newplus.png' %}" height="35px" width="35px" style="bottom:0px">
      </div>
    </div>

<!-- thumbnail cookie js -->
<script src="{% static 'js/cookie.js' %}" type="text/javascript"></script>
<script>
{% if thumbnail_url %}
  $(document).ready(function() {
    addCookie("{{thumbnail_url}}");
  });
{% endif %}

$(document).ready(function(){
    var cookies = getCookie("play_list");
    var play_list = cookies.split(",");
    play_list.reverse();
    if (play_list){
      for (var i =0 ; i<play_list.length; i++){
        if (play_list[i]){
        $(".playlist").append("<a class='playlist_link' href='/serve/"+play_list[i].slice(23,34)+"'><img src='"+play_list[i]+"' alt='' id='img"+(i+1).toString()+"' class='clip-circle' height='40px' width='40px'></a>");
      }
    }
  }
});
</script>

  <img src="{% static 'img/speech-bubble.png' %}" id='myBtn1' style='width:30px; height:30px;'alt="">
  <a href="https://github.com/JooeunAhn/beatsalon" target="_blank"><img src="{% static 'blog/github-white.png' %}" id="cat" style="width:30px; height:30px;"></a>

<!-- div for closing the bottom menu slide -->
<div id="range_for_closing">

</div>
<!-- # bottom menu slide  -->


<div class="cbp-spmenu cbp-spmenu-horizontal cbp-spmenu-bottom" id="cbp-spmenu-s4">
<!--
  <button id="myBtn1" style="left:0px;">Leave Comments</button>
-->

  <!--메뉴안에 스케치 슬라이더 코멘트
  <a href="#" class="control_next"><img class="next_img" src="{% static 'img/next.png' %}" style='width:20px; height:40px;'/></a>
  <a href="#" class="control_prev"><img class="prev_img" src="{% static 'img/prev.png' %}" style='width:20px; height:40px;'/></a>
  -->
  <!--do not touch-->
  <!--스케치 버튼 serve.html로 이동, 이미지만 두-->
  <div class="buttonclass">
    <div class='innerbuttonclass'>
     <div class="onlybutton">
        <div id='button1'></div>
        <div id='button2'></div>
        <div id='button3'></div>
        <div id='button4'></div>
      </div>

      <div class="onlyimg">
          <img src="{% static 'assets/movingbox.png' %}" alt="" style="width:232px; height:140px;" id='button1'/>
          <img src="{% static 'assets/spreading.png' %}" alt="" style="width:232px; height:140px;" id='button2'/>
          <img src="{% static 'assets/random.png' %}" alt="" style="width:232px; height:140px;" id='button3'/>
          <img src="{% static 'assets/shootingball.png' %}" alt="" style="width:232px; height:140px;" id='button3'/>
      </div>
      </div>
    </div>

 <!--  <div id="slider2">
  <ul> -->
                                    <!--
                                          <a href="#" ><img src="{% static 'assets/style_1.png' %}" width=120px height=120px/></a>
                                          <a href="#"><img src="{% static 'assets/style_2.png' %}" width=120px height=120px/></a>
                                    -->
                                          <!-- failed to switch the style js files.-->
                                          <!-- 이걸 써봐야 하나..? <input type="submit"> -->
<!--           <li><a href="#"><img class="scheme" src="{% static 'blog/sketch1.png' %}" /></a></li>
          <li><a href="#"><img class="scheme" src="{% static 'blog/sketch1.png' %}" /></a></li>
          <li><a href="#"><img class="scheme" src="{% static 'blog/sketch1.png' %}" /></a></li>
          <li><a href="#"><img class="scheme" src="{% static 'blog/sketch1.png' %}" /></a></li>
          <li><a href="#"><img class="scheme" src="{% static 'blog/sketch1.png' %}" /></a></li>

  </ul>
</div> -->
</div>


<div id="img_a"/>Drop the Beat<br></div>


  <div id="img_song_container">
    <div id="img_song"/> {{info.title}}</div>
  </div>
<script>
var right=0;
var width=0;
 setInterval(function() {

        right = parseInt($('#img_song').css('right'));
        width = parseInt($('#img_song').css('width'));
         $('#img_song').animate({
            right: '+=1',
        }, 1, function(){
            if(right > width){
            $('#img_song').css('right','-250px');
        }
        });
    }, 0);

</script>


      <!--
      <a href="https://github.com/JooeunAhn/beatsalon" target="_blank"><img src="{% static 'blog/github.png' %}" id="" style="width:50px; height:50px; margin:20px;"></a>
-->
 <!-- # bottom menu button -->
      <div class="button_default" id="bottom">
        <a href="#" id="showBottom">
        <img src="{% static 'img/sketch_menu.png' %}" id="img_b"/>
        <div id="img_c">BEAT SALON</div>
        </a>
      </div>

        {% block contents %}
        {% endblock %}

<script>
        function popitup(url) {
          newwindow=window.open('https://www.youtube.com/watch?v=bX9CvhbfQgg','name','height=200,width=150');
          if (window.focus) {newwindow.focus()}
          return false;
        }
</script>

<script>

$(document).ready(function(){
      $('#close_tab').click(function(){
        alert('1')
})
    });
// Get the modal
var modal = document.getElementById('myModal');
var modal1 = document.getElementById('myModal1');

// Get the button that opens the modal
var btn = document.getElementById("myBtn");
var btn1 = document.getElementById("myBtn1");

// When the user clicks the button, open the modal
btn.onclick = function() {
    console.log("goood!")
    modal.style.display = "block";
}

btn1.onclick = function() {
    modal1.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
$('.close').click(function(){
    modal.style.display = "none";
  });

$('.close1').click(function(){
    modal1.style.display = "none";
  });

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    else if (event.target == modal1) {
    modal1.style.display = "none";
}}
</script>

<script>

$(document).ready(function(){
    $('.clip-circle:not(:first)').hide();
    $(".playlistarrow").click(function(event){
      var isArrow = $(event.target).is(".playlistarrow");
      if (isArrow){
        $('.clip-circle:not(:first)').animate({width:"toggle"});
      }
    });
    $(".close1").click(function(event){
              modal1.style.display = "none";
    })
});


$('.dim').click(function(event){
    var isDim = $(event.target).is('.dim');
    if(isDim){ //make sure I am a dim element
        $('.hidden', this).toggle(); // p00f
    }
});

</script>
<script>
  window.onkeydown=function(e){
    if(e.keyCode==32&& e.target==document.body){
      e.preventDefault();
      return false;
    }
  };
</script>

    <script src="{% static 'js/musicname.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/icon_rotate.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/play_pause.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/img_slider2.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/menu_slider.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/ajax.js' %}" type="text/javascript"></script>

    <script src="{% static 'js/fullscreen.js' %}"></script>
    <script type = "text/javascript">

</script>
    </div>
    </div>
    </body>
</html>
