{% extends 'base.html'%}
{% load staticfiles %}
{% block contents %}
{% load serve_tags %}

<script src="{% static 'js/fullscreen.js' %}" type="text/javascript"></script>


<script>
  $(document).ready(function(){
      $('#defaultCanvas0').hide();
      $('#start_display').hide();
  });
document.addEventListener("keydown", function(e) {
  if (e.keyCode == 13) {
    toggleFullScreen();
  }
}, false);
function toggleFullScreen() {
  if (!document.fullscreenElement &&    // alternative standard method
      !document.mozFullScreenElement && !document.webkitFullscreenElement) {  // current working methods
    if (document.documentElement.requestFullscreen) {
      document.documentElement.requestFullscreen();
    } else if (document.documentElement.mozRequestFullScreen) {
      document.documentElement.mozRequestFullScreen();
    } else if (document.documentElement.webkitRequestFullscreen) {
      document.documentElement.webkitRequestFullscreen(Element.ALLOW_KEYBOARD_INPUT);
    }
  } else {
    if (document.cancelFullScreen) {
      document.cancelFullScreen();
    } else if (document.mozCancelFullScreen) {
      document.mozCancelFullScreen();
    } else if (document.webkitCancelFullScreen) {
      document.webkitCancelFullScreen();
    }
  }
}
</script>
<script>
var allSketch = function(q){
  q.song;
  var musicPlaying =true;
  q.allcanvas;
  var state='movingbox';
  var button1;
  var button2;
  var button3;
  q.amplitude;
  q.fft;
  var allcanvas;
  var reset;
    q.beatHoldFrames = 20;
  //what amplitude level can trigger a beat
    q.beatThreshold = 0.4;
    //when we have a beat, beatcutoff will be reset to 1.1*beatTreshold and then decay
    q.beatCutOff = 0;
    q.beatDecayRate = 0.98;
    q.countFramesSinceLastBeat = 0;

  ///////setup for spreadingline
  q.bouncingspheres=[];
  var bouncingX,bouncingY;
  var spreading_rectColor;
  var numOfBouncingCircles=20;
  var spreadingOnBeat=false;
////////////////////////////////

////////setup for random box
  q.randombox=[];
  var randomBeat=false;



  q.preload=function(){
    q.song=q.loadSound({% with 'data/'|add:info.title|add:'.mp3'|to_underbar as music_static %}"{% static music_static %}"{% endwith %});
  }

  q.setup=function(){
    q.createCanvas(q.windowWidth,q.windowHeight,q.WEBGL);

    q.song.play();
    q.frameRate(20);

    s.movingbox();

    button1=q.createButton('');
    button1.parent('button1');
    button1.size(232,140);
    button1.style('background','rgba(255,255,255,0)');
    button1.style('border','0px');
    button1.mousePressed(s.movingbox);

    button2=q.createButton('');
    button2.parent('button2');
    button2.size(232,140);
    button2.style('background','rgba(255,255,255,0)');
    button2.style('border','0px');
    button2.mousePressed(s.spreadingShapes);

    button3=q.createButton('');
    button3.parent('button3');
    button3.size(232,140);
    button3.style('background','rgba(255,255,255,0)');
    button3.style('border','0px');
    button3.mousePressed(s.appearRandomBox);

    q.amplitude = new p5.Amplitude();
    q.amplitude.setInput(q.song);

    q.fft = new p5.FFT();
    q.fft.setInput(q.song);

/////////for spreadingline
    spreading_rectColor=q.color(0,200,255);
    for (var i=0;i<numOfBouncingCircles;i++){
      bouncingX=20*q.cos(q.random(q.TWO_PI/numOfBouncingCircles*i,q.TWO_PI/numOfBouncingCircles*i+q.TWO_PI/numOfBouncingCircles));
      bouncingY=20*q.sin(q.random(q.TWO_PI/numOfBouncingCircles*i,q.TWO_PI/numOfBouncingCircles*i+q.TWO_PI/numOfBouncingCircles));
      q.bouncingspheres.push(new q.bouncingSphere(bouncingX,bouncingY));
    }
///////for random box
  q.randombox.push(new q.randomBox(q.random(-700,0),q.random(0,-700), q.random(20),q.color(q.random(150,255),q.random(0,150),20,200)));

  }

  q.draw=function(){
    q.background(20);

  }

////////////////////////////////////////////////////////////////
///////////////start individual sketches///////////////////////
  var s={};

  s.movingbox = function(){
    var newbox = [];
    var newbox2=[];
    var cameraZ = 0;
    var zpos = -500;
    var w = 300;
    var l = 300;

    var onBeat=false;

    var sizeSlider;
    var moveCameraY = -300;
    var moveCameraX = 500;
    var angleOfCam=0;
    var boxheight;
    q.amp;
    var timer=0;

    q.boxColor=q.color(q.random(20,40), q.random(100,120), q.random(140,180));

      q.draw=function(){

        q.background(20);
        q.ambientLight(150);
        q.pointLight(250, 250, 250, 200, 300, 100);
        q.amp=q.amplitude.getLevel();
        timer = q.int(q.millis()/1000);
        if(timer>0){
          if (timer%30==0){
            angleOfCam-=1;
            moveCameraY+=15;
          }
          else if (timer%20==0){
            angleOfCam +=2;
            moveCameraY -=20;
          }
          else if (timer%10==0){
            angleOfCam -=1;
            moveCameraY +=5;
          }
        }

        q.rotateY(q.radians(angleOfCam));
        q.camera(moveCameraX, moveCameraY, cameraZ);


        boxheight = q.map(q.amp, 0, 1, 30, 2000);
        newbox.push(new q.NewBox(0, 0, zpos, 300, boxheight, 300, q.boxColor));
        newbox2.push(new q.NewBox(1000, 0, zpos, 300, boxheight, 300, q.boxColor));

        for (var i = 0; i < newbox.length; i++) {
          newbox[i].display();
          newbox2[i].display();
        }

        if ((cameraZ-zpos)>5000){
          cameraZ -= 300*1.3;
        }
        else {
          zpos -= 300 + 10;
          cameraZ -= 300;
        }
        if (newbox.length>100){
            newbox.splice(0,1);
            newbox2.splice(0,1);
          }
      }

      q.NewBox=function(x,y,z,w,h,l,bc){
        this.nx=x;
        this.ny=y;
        this.nz=z;
        this.newW=w;
        this.newH=h;
        this.newL=l;
        this.bc = bc;
        this.display = function(){
          q.specularMaterial(this.bc);
          q.push();
          q.translate(this.nx,this.ny-this.newH/2,this.nz);
          q.box(this.newW,this.newH,this.newL);
          q.pop();
       }
      }

  } //////////movingbox end

//////////////////////////////////////////////////////////////////

  s.spreadingShapes=function(){
    var spreadingline=[];
    var centershape;
    var spreading_angle=0;
    var spreading_rotateCameraX=0;
    var spreading_rotateCameraY=0;
    var spreading_rotateCameraZ=0;

    var smallMult;
    var circlePos=20;

    q.draw=function(){
      q.background(20);
      q.ambientLight(150,100);
      q.pointLight(200,150,100);
      q.specularMaterial(0,200,255);

      q.rotateX(q.radians(spreading_rotateCameraX));
      q.rotateY(q.radians(spreading_rotateCameraY));
      q.camera(0,0,0);
      var spreading_timer = q.int(q.millis()/1000);
      if(spreading_timer>0){
        if (spreading_timer%30==0){
          spreading_rotateCameraY -=2;
        }
        else if (spreading_timer%20==0){
          spreading_rotateCameraX +=3;
        }
        else if (spreading_timer%10==0){
          spreading_rotateCameraY +=1;
        }
      }
      centershape = new q.centerShape();
        centershape.update();
        centershape.display();

        var spreading_amp=q.amplitude.getLevel();
        q.detectBeat(spreading_amp);

        smallMult=q.map(spreading_amp,0,1,1,5);

        if(spreadingOnBeat){
          console.log('ww')
          spreading_rectColor=q.color(10,q.random(0,255),q.random(200,255));
          spreadingline.push(new q.spreadingLine(spreading_rectColor,smallMult));
        }

        if(spreadingline.length>10){
          spreadingline.splice(0,1);
        }
        for (var i=0;i<spreadingline.length;i++){
          spreadingline[i].update();
          spreadingline[i].display();
        }

        var mult_cpos=q.map(spreading_amp,0,1,1,10);
        var mult_maxspeed=q.map(spreading_amp,0,1,1,70);

        for (var i=0;i<q.bouncingspheres.length;i++){
          var bouncingC=q.createVector(circlePos*q.cos(q.TWO_PI/q.bouncingspheres.length*i)*mult_cpos, circlePos*q.sin(q.TWO_PI/q.bouncingspheres.length*i)*mult_cpos,0);
          q.bouncingspheres[i].pushpull(bouncingC,mult_maxspeed);
          q.bouncingspheres[i].update(mult_maxspeed);
          q.bouncingspheres[i].display();
        }

    }

    q.spreadingLine=function(rectColor,smallMult){
      this.x;
      this.y;
      this.rectColor=rectColor;
      this.smallMult=smallMult;
      this.startRadius=1;
      this.numOfLines=20;
      this.boxlength=5;
      this.angle=0;
      this.z=0;
      this.radiusMult=1;
      this.smallSize=3;
      this.individual=0;

      this.update=function(){
        var spreading_amp2=q.amplitude.getLevel();
        this.radiusMult=q.map(spreading_amp2,0,1,0,14);
        this.startRadius+=1*this.radiusMult;

      }
      this.display=function(){
        q.specularMaterial(this.rectColor);
        // rotateZ(radians(this.angle));
        // rotateY(radians(this.angle));
        for(var i=0;i<this.numOfLines;i++){
          this.x=this.startRadius*q.cos(q.TWO_PI/this.numOfLines*i);
          this.y= this.startRadius*q.sin(q.TWO_PI/this.numOfLines*i);
          q.push();
          q.translate(this.x,this.y,this.z);
          q.rotateX(q.radians(this.individual));
          q.rotateY(q.radians(this.individual));
          q.box(this.smallSize*this.smallMult);
          q.pop();
          this.individual+=0.1;
        }
        this.angle+=0.1;
      }
    } //end spreadingLine

      q.centerShape=function(){
        this.x;
        this.y;
        this.boxsize=30;
        this.spheredetail=20;

        this.update=function(){
          var center_amp=q.amplitude.getLevel();
          this.boxsize=q.map(center_amp,0,1,0,100);
          this.spheredetail=q.int(q.map(center_amp,0,1,3,7));
        }
        this.display=function(){
          this.x=0;
          this.y=0;
          q.sphere(this.boxsize,this.spheredetail,this.spheredetail);
        }
      }

    }////spreadingline end
      q.bouncingSphere =function(x,y){
        this.pos =q.createVector(x,y,0);
        this.vel=q.createVector(0,0,0);
        this.acc=q.createVector(0,0,0);
        this.startRadius=20;
        this.maxspeed=0.3;
        this.ampspeed=q.random(0.08,this.maxspeed);
        this.numOfSpheres=20;

        this.applyForce=function(f){
          this.acc.add(f);
        }
        this.pushpull=function(center,mult_max){
          var pushF=p5.Vector.sub(center,this.pos);
          var pushD=pushF.mag();
          pushF.normalize();
          var pushM=q.map(pushD,0,100,0,mult_max*this.ampspeed);
          pushF.setMag(pushM);
          this.applyForce(pushF);
        }

        this.update=function(mult_max){
          this.vel.add(this.acc);
          this.vel.limit(this.maxspeed*mult_max);
          this.pos.add(this.vel);
          this.acc.set(0,0);
          var bounce_amp=q.amplitude.getLevel();
          this.startRadius=q.map(bounce_amp,0,1,0,300);

        }
        this.display=function(){
          for (var i=0;i<this.numOfSpheres;i++){
            q.push();
            q.translate(this.pos.x,this.pos.y,0);
            q.sphere(3);
            q.pop();
          }
        }
    }///end bouncing sphere///


    s.appearRandomBox=function(){
      var randomcol=q.color(240,10,20);
      var random_rotateCameraX=0;
      var random_rotateCameraY=0;
      var rand_amp;

      q.draw=function() {
        q.background(20);
        q.ambientLight(200);
        q.pointLight(200,150,100);
        q.specularMaterial(randomcol);
        q.camera(-100,-300,0);
        q.rotateX(q.radians(10));
        q.rotateX(q.radians(random_rotateCameraX));
        q.rotateY(q.radians(random_rotateCameraY));

        rand_amp=q.amplitude.getLevel();
        q.detectBeat(rand_amp);

        for(var i=0; i<q.randombox.length;i++){
          q.randombox[i].display();
        }

        var random_timer = q.int(q.millis()/1000);

        if(random_timer>0){
          if (random_timer%30==0){
            random_rotateCameraY -=0.5;
            random_rotateCameraX -=0.5;
          }
          else if (random_timer%20==0){
            random_rotateCameraY +=0.2;
          }
          else if (random_timer%10==0){
            random_rotateCameraX +=0.5;
          }
        }
        if (randomBeat){
          console.log('hey')
          q.randombox.push(new q.randomBox(q.random(-800,0),q.random(0,-1000), q.random(20),q.color(q.random(150,255),q.random(0,150),20,200)));
        }
        if (q.randombox.length>20){
            q.randombox.splice(0,1);
          }
        if(rand_amp<0.02){
          q.randombox.splice(0,q.randombox.length-1);
        }

      }

    }////////end random appear box

    q.randomBox=function(x,z,randomnum,col){
      this.x=x;
      this.y=0;
      this.z=z;
      this.boxh=10;
      this.numOfRange=20;
      this.randomnum=randomnum;
      this.col=col;

      this.display=function(){
        q.specularMaterial(this.col);
        this.freq = q.fft.analyze();
        this.range = this.freq.length/this.numOfRange; //1024/30
        this.randomamp=q.amplitude.getLevel();
        // this.boxh=map(randomamp,0,1,10,300);
        this.boxh=q.map(q.fft.getEnergy(this.range*this.randomnum,this.range*this.randomnum+this.range),0,255,10,400);
        q.push();
        q.translate(this.x,this.y-this.boxh/2,this.z);
        q.rotateY(q.radians(40));
        q.box(80,this.boxh,80);
        q.pop();
      }
    }/////////end q.randombox

    q.detectBeat=function(level){
        if(level>q.beatCutOff && level>q.beatThreshold){
          backgroundColor = q.color(q.random(255),q.random(255),q.random(255));
          spreadingOnBeat = true;
          randomBeat=true;
          q.beatCutOff = level*1.2;
          q.countFramesSinceLastBeat=0;
        }
        else{
          spreadingOnBeat=false;
          randomBeat=false;
          if(q.countFramesSinceLastBeat <= q.beatHoldFrames){
            q.countFramesSinceLastBeat++;

          }
          else{
            q.beatCutOff *= q.beatDecayRate;
            q.beatCutOff = Math.max(q.beatCutOff,q.beatThreshold);

        }
      }
    }

  q.keyPressed=function(){
    if (q.keyCode ==32){
      if (musicPlaying){
        q.song.pause();
        musicPlaying=false;
      }
      else{
        q.song.play();
        musicPlaying=true;
      }
    }
  }
  }////////end
</script>
<!--play/pause-->


<div class = "play_button">
    <img class="play" src="{% static 'blog/X.png' %}">
</div>
<h2 style="position: absolute;
          top: 10%;
          width:100%;
          color:white;" class="song_title" style="color:white;">{{info.title}}</h2>

<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <img class="close" src="{% static 'blog/X.png' %}">
    <div class = "row">
      <div class="left_1">
        <form action="#" class="form-inline" >
                <input type="text" id="search" placeholder="Type something..." autocomplete="off" class="form-control" size="60px">
                <input type="image" id="question" src="{% static 'blog/?.png' %}" alt="Submit">
         </form>
         <div id="serve"></div>
         <table id="results"></table>
    </div>
</div>
</div>
</div>


<script>
new p5(allSketch);
</script>
{% endblock %}
