
body, html {   padding: 0; margin: 0;}

body{
    background-color: rgba(0,0,0,0.93);
}
a {
    text-decoration: none;
}

@font-face{
    font-family: "BeatSalon";
    src:url("Moon_Light.otf");
}

@font-face{
    font-family: "Beat";
    src:url("HelveticaNeue.dfont");
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


/*the first main page css*/

#start_display{
    position : fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    opacity: 0.7;
    text-align: :center;
    z-index: :99999;
    font-family: "BeatSalon";
    color:white;
}

#start_display #main_title1{
    position:relative;
    top:30%;
    text-align:center;
    font-size:30px;
    opacity:1;
}

#start_display #main_title2{
    position: relative;
    top:30%;
    text-align: center;
    font-size: 75px;
    font-weight: normal;
    opacity:1;
}

#start_display #main_title2 sub{
    font-size:35%;
}

#start_display div{
    position:relative;
    top:50%;
    text-align: center;
}

#start_display a{
    text-decoration: none;
}

#start_display span{
    font-size:30px;
    color:white;
    opacity:1;
}

/* closing div for menu slide css */
#range_for_closing{
    position:absolute;
    top:10%;
    width:100%;
    height:85%;
}


/* menu slide css */

.cbp-spmenu {
    background: gray;
    position: fixed;
    opacity : 0.5;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    text-align: center;
    padding:22px;
}


.cbp-spmenu-horizontal {
    width: 100%;
    height: 200px;
    z-index: 1000;
    overflow: hidden;
}

.cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
}

.cbp-spmenu-bottom {
    bottom: -200px;
}

@media screen and (max-width: 55.1875em){

    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }

    .cbp-spmenu-top {
        top: -110px;
    }

    .cbp-spmenu-bottom {
        bottom: -110px;
    }
}

/* menu slide button css */
.button_default{
    /*position : relative;*/
    /*text-align:bottom;*/
}

.button_default #showBottom img{
    position : absolute;
    bottom:0;
    right:0;
    height:30px;
    opacity: 0.5;
    display:block;
}

/* feed back button css in menu bar*/

#feedback_button{
    position:absolute;
    display: block;
}

/* img slider css in menu bar */

#slider2{
    position:absolute;
    overflow:hidden;
    width: 100%;
    height: 150px;
    left:25%;
}

#slider2 ul{

    position:relative;
    margin: 0;
    padding:0;
    list-style:none;
    height:150px;
}

#slider2 ul li{
    padding: 10px;
    position:relative;
    float: left;
    margin:0;
    padding: 0;
    width:232px;
    height:140px;

}

#slider2 ul li a{
    position:relative;
    margin-top: 20px
    font-size:100px;
}

#slider2 ul li a:active{
    background: #afdefa;
    color: #47a3da;
}

#slider2 ul li a:hover{
    background: black;
    opacity:0.4;
}

#slider2 ul li a img{
    margin-top:20px;
    width:100%;
    height:100%;
}

a.close_menu{
    position: absolute;
    z-index:999;
    right:0;
}

a.close_menu img{
    position:absolute;
    top:0;
    right:0;
    width:30px;
}

a.control_prev, a.control_next{
    position:absolute;
    bottom:50px;
    z-index:999;
    text-decoration:none;
    font-weight:90px;
    opacity:0.8;
    cursor:pointer;
}

a.control_prev img{
    height:90px;
}

a.control_next img{
    height:90px;
}

a.control_prev:hover, a.control_next:hover{
    opacity:1;
    -webkit-transition:all 0.2s ease;
}

a.control_prev{
    border-radius: 0 2px 2px 0;
    left:300px;
}

a.control_next{
    right:15px;
    border-radius:2px 0 0 2px;
}
