/*            #defaultCanvas0{
                position: absolute;
                top:0;
                left:0;
            }*/
            .close_tab{
                position:fixed;
                bottom:10px;
                height: 30%;
                width: 100%;
                border:solid white 10px;
            }
/*            #upup{
                position:relative;
            }
            .up_index{
                position:absolute;
                top:0;
                left:0;
            }*/

            .scheme{
                position: absolute;
                left:260px;

            }

            .next_img{
                width: 60px;
                height: 60px;
                margin-bottom: 40px;
                margin-right: 40px;
            }

            .prev_img{
                width: 60px;
                height: 60px;
                margin-bottom: 40px;
                margin-left: 350px;
            }

            @font-face{
                font-family: "BeatSalon";
                src:url("Moon_Light.otf");
            }

            @font-face{
                font-family: "Beat";
                src:url("HelveticaNeue.dfont");
            }

            .nav-tabs > li > a{
                background-color: #303136;
                color: #fff;
                padding:5px;
            }


            /* Drop the beat*/
            #img_a{
                padding: 5px;
                margin :10px;
                position: absolute;
                top:33px;
                right: 10px;
                font-family: "Beatsalon";
                color:grey;
                font-size: 15px;
            }

            #img_b{
                padding: 5px;
                margin :10px;
                position: absolute;
                bottom:10px;
                left: 10px;
            }

            /* song-name*/
            #img_song{
                padding: 5px;
                margin :10px;
                position: absolute;
                top:50px;
                right: 10px;
                font-family: "Beatsalon";
                color:grey;
                font-size: 15px;
            }

/* Beat Salon part*/

            #img_c{
                position: absolute;
                bottom: 8px;
                left: 60px;
                font-family: "Beatsalon";
                font-size: 20px;
                color:white;
                opacity: 0.7;
            }

/*powered by Django part*/
            #img_d{
                position: absolute;
                bottom: 8px;
                right: 30px;
                font-family: "Beatsalon";
                font-size: 20px;
                color:white;
                opacity: 0.7;
            }

            #loading{
                color:grey;
                font-size: 20px;
                position: relative;
                left:45%;
                top:10px;
                opacity: 0;
            }

            .search{
                margin-top:100px;
            }

            .play_button{
                position: absolute;
                top: 40%;
                left:40%;
                width:250px;
                height: 250px;
                /*border:solid white 10px;*/
            }

            .play{
                position: absolute;
                top: 35%;
                left: 35%;
                width: 70px;
            }


            form { margin-top : 20px; }
            form, #results {padding : 0 20px;}

            h2{
                font-size:20px;
                 width: 600px;
                word-wrap: break-word;
            }

            td{
               height: 420px;
               top:120px;
               left:750px;
               position: relative;
            }

            .test{
                position: relative;
                margin: auto;
                float: right;
            }


            iframe{
                width: 600px;
            }

            .left_1{
                position: absolute;
                left: 60px;
            }

            #myBtn{
                position: relative;
                top:12px;
                left: 97%;
                width:40px;
                height:40px;
            }


            #question{
                width: 30px;
                position: absolute;
                left: 480px;
                top:25px;

            }

            .modal {
                display: none;
                position: absolute;
                left: 90%;
                right: 0;
                top: 0;
                bottom: 0;
                width:1300px;
                height:750px;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                overflow: auto;
            }

            .modal1 {
                display: none;
                position: absolute;
                left: 90%;
                right: 0;
                top: 0px;
                bottom: 0;
                width:1300px;
                height:800px;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                overflow: auto;
            }


            #add_1{
                display: inline;
                width: 5%;
                position: fixed;
                left: 900px;
                z-index: 2;
            }

            /* Modal Content */

            .modal-content {
                padding: 2px 16px;
                background-color: rgba(0,0,0,0.5);
                border: 1px solid #888;
                position: absolute;
                left: 17%;
                width: 900px;
                height:600px;
                overflow: scroll;
            }

            .modal-content1 {
                padding: 2px 16px;
                background-color: black;
                opacity:0.9;
                border: 1px solid #888;
                position: absolute;
                left: 17%;
                width: 900px;
                height:400px;
                overflow: scroll;
            }



            /* The Close Button */
            .close {
                padding-top:10px;
                width: 5%;
                color: #aaaaaa;
                float: right;
            }

            .close1 {
                position: relative;
                top:5px;
                width: 40px;
                color: #aaaaaa;
                float: right;
                width:20px;
            }



            .close:hover,

            .close:focus {
                color: #000;
                cursor: pointer;
            }


            /* The Add Button */
            .add {
                width: 30%;
                display: block;
                color: #aaaaaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .add:hover,

            .add:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }


        body{background-color: rgb(20,20,20)}

        .clip-circle{
            clip-path: circle(20px at center);
            -webkit-clip-path: circle(20px at center);
        }
        .playlist{
            position: absolute;
            top:10px;
            right:65px;
        }

#loading{
    color:grey;
    font-size: 20px;
    position: relative;
    left:45%;
    top:10px;
    opacity: 0;
}

.search{
    margin-top:100px;
}

.play_button{
    position: absolute;
    top: 40%;
    left:40%;
    width:250px;
    height: 250px;
    /*border:solid white 10px;*/
}

.play{
    position: absolute;
    top: 35%;
    left: 35%;
    width: 70px;
}


form { margin-top : 20px; }
form, #results {padding : 0 20px;}

h2{
    font-size:20px;
     width: 600px;
    word-wrap: break-word;
}

td{
   height: 420px;
   top:120px;
   left:750px;
   position: relative;
}

.test{
    position: relative;
    margin: auto;
    float: right;
}


iframe{
    width: 600px;
}

.left_1{
    position: absolute;
    left: 60px;
}

#myBtn{
    position: relative;
    top:9px;
    left: 97%;
    width:40px;
    height:40px;
    cursor: pointer;
}

#slideleft{
    cursor: pointer;
    position: relative;
    top:9px;
}


#question{
    width: 30px;
    position: absolute;
    left: 480px;
    top:25px;

}

.modal {
    display: none;
    position: absolute;
    left: 90%;
    right: 0;
    top: 0;
    bottom: 0;
    width:1300px;
    height:800px;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    overflow: auto;
}

.modal1 {
    display: none;
    position: absolute;
    left: 90%;
    right: 0;
    top: 0px;
    bottom: 0;
    width:1300px;
    height:800px;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
}


#add_1{
    display: inline;
    width: 5%;
    position: fixed;
    left: 900px;
    z-index: 2;
}

/* Modal Content */

.modal-content {
    padding: 2px 16px;
    background-color: rgba(0,0,0,0.5);
    border: 1px solid #888;
    position: absolute;
    left: 17%;
    width: 900px;
    height:600px;
    overflow: scroll;
}

.modal-content1 {
    padding: 2px 16px;
    background-color: black;
    opacity:0.9;
    border: 1px solid #888;
    position: absolute;
    left: 17%;
    width: 900px;
    height:400px;
    overflow-x: hidden;
    overflow-y: scroll;
}



/* The Close Button */
.close {
    padding-top:10px;
    width: 5%;
    color: #aaaaaa;
    float: right;
}

.close1 {
    padding-top: 3px;
    width: 20px;
    color: #aaaaaa;
    float: right;
}



.close:hover,

.close:focus {
    color: #000;
    cursor: pointer;
}


/* The Add Button */
.add {
    width: 30%;
    display: block;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.add:hover,

.add:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}


body{background-color: rgb(20,20,20)}

.clip-circle{
clip-path: circle(20px at center);
-webkit-clip-path: circle(20px at center);
}
.playlist{
position: absolute;
top:10px;
right:65px;
}

